.botao {
    background: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 32px;
    color: #FFF;
    cursor: pointer;
    border: none;
}

.botao:hover {
    background-color: #2134b2;
    color: yellow;
    border: 2px solid yellow;
    font-size: 23px;
    transition: 1s;
}